p,h1,h2,h3,h4,ul {
  font-family: 'Josefin Sans', sans-serif;
}

#resumephoto{
  float: right;
}

section{
  position: relative;
  float: left;
  margin: 20px;
  background-color: rgb(34,153,233);
  width: 465px;
  border-radius: 20px;
  padding: 6px;
}

ul {
  background-color: rgb(84,165,246);
  padding: 3px;
  border-radius: 5px;
  width: 90%;
  position: relative;
  left: 5%;
}

#nav{
  width:60px;
}
